<!doctype html>
<html class="no-js" lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Miembros del equipo JavaAgil - JavaAgil</title>
<meta name="description"
	content="En JavaAgil proponemos soluciones de programación y desarrollo web basada en Java. Consulta con nuestros expertos.">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" href="icon.png">
<!-- Place favicon.ico in the root directory -->

<link rel="stylesheet" th:href="@{/css/normalize.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

<meta name="theme-color" content="#fafafa">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/landing.css}" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/fontawesome/all.css}" />

</head>
<body id="seccion-equipo">
	<nav th:replace="/header :: header">...</nav>
	<main>
		<!-- Cabecera web -->
		<div class="jumbotron">
			<div class="container">
				<h1 class="display-3">Miembros del equipo JavaAgil</h1>
				<div class="row">
					<div class="col-md-5">
						​
						<p class="lead">Estos son los integrantes del equipo JavaAgil
							que hacen posible el éxito en todos nuestros proyectos</p>

					</div>
				</div>
				​ ​
			</div>
		</div>

		<section class="text-center" id="quienes">
			<div class="container">
				<h2>¿Quiénes somos?</h2>
				<p class="lead">JavaAgil es una joven empresa especializada en
					tecnologías para ecommerce, SaaS, CRM, etc. Contamos con un área de
					I+D, encargada de investigar y analizar lo más nuevo en las
					tecnologías de TI, así como las tendencias a nivel global.</p>

				<!-- Listado de miembros del equipo reales-->
				<div class="row row py-4">
					<div class="col-lg-3" th:each="employee, status:${TeamList}">
						<img class="rounded-circle" alt="" width="140" height="140"
							th:src="@{/img/} + ${employee.foto}" />
						<h3 th:text="${employee.nombrePers} + ' ' + ${employee.apellidos}" />
						<h4 th:text="${employee.cargo.cargo}" />
						<p class="lead" th:text="${employee.resumenPers}" />
					</div>
				</div>
				<!-- Listado de miembros del equipo ficticios-->
				<div class="row row py-4">
					<div class="col-lg-3" th:each="employee, status:${FakeTeamList}">
						<img class="rounded-circle" alt="" width="140" height="140"
							th:src="@{https://randomuser.me/api/portraits/women/} + ${status.index+1} + @{.jpg}" />
						<h3 th:text="${employee.nombre} + ' ' + ${employee.apellidos}" />
						<h4 th:text="${employee.cargo}" />				
					</div>
				</div>

				<!-- /.row -->
			</div>
			​
		</section>


	</main>
	<footer id="contacto">
		<section class="bg-dark">
			<div class="container px-4 py-5">
				<div class="row align-items-center g-5 py-5">
					<div class="col-lg-7 text-lg-start text-light">
						<h2 class="display-4 fw-bold lh-1 mb-3">Contacta con nosotros</h2>
						<p class="fs-4 lead">
							Puede escribirnos por email a <a class="text-white"
								href="mailto:info@javaagil.com">info@javaagil.com</a> o dejarnos
							sus datos en el formulario y nos pondremos en contacto con usted.
						</p>
						<p class="lead">
							O Llámenos ahora a los números:<br /> +555 919330945 / +555
							931306253.
						</p>
						<ul class="list-inline">
							<li class="list-inline-item"><i
								class="fab fa-2x fa-linkedin-in"></i></li>
							<li class="list-inline-item"><i
								class="fab fa-2x fa-facebook" aria-hidden="true"></i></li>
							<li class="list-inline-item"><i class="fab fa-2x fa-twitter"
								aria-hidden="true"></i></li>
						</ul>
					</div>
					<div class="col-10 mx-auto col-lg-5">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3204.9453557715096!2d-4.621931884224984!3d36.55543048913833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72e2492f4d85af%3A0x2a50f5a556784743!2sCalle%20Domingo%20Ortega%2C%2029640%20Fuengirola%2C%20M%C3%A1laga!5e0!3m2!1ses!2ses!4v1620983847785!5m2!1ses!2ses"
							width="437" height="453" style="border: 0;" allowfullscreen=""
							loading="lazy"></iframe>
					</div>
				</div>

			</div>
		</section>

	</footer>
	<!-- Add your site or application content here -->
	<script src="js/vendor/modernizr-3.11.2.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

</body>
</html>